{% extends 'base_portfolio.html' %}
{% load static %}

{% block content %}
<br>
<br>
<br>
<div class='col-md-2'>
</div>
<div class='col-sm-8 text-justify'>
    <p>
    I am a Big Data and AWS Solutions Architect Consultant. In short, I solve Big Data-related problems. I've worked for Twitter, the Inter-American Development Bank, and a number of startups in the data space in the past. I am an AWS Certified Solutions Architect, and am ranked within the top 1% on Kaggle. I have a B.S. from MIT, and am passionate about helping teams architect resilient, scalable data architectures.</p>
    <br>
    <p>For more information about my past consulting work and skills, please view the <a href="{% url 'services' %}">Services</a> section.</p>
    <br>

    <div class='col-sm-4 col-sm-offset-4'>
    	<img class='img-responsive' src='/static/images/aws_certified_saa_badge.png' %}">
    </div>
</div>
{% endblock %}