{% extends 'base_portfolio.html' %}

{% block content %}
<br>
<br>
<br>
<div class='col-md-2'>
</div>
<div class='col-md-6 text-justify'>
    <p>
    I am a Freelance Python Full-Stack Data Developer. In short, I solve data-related problems. I've worked for Twitter, the Inter-American Development Bank, and a number of startups in the data space in the past. I have a B.S. from MIT, and am passionate about quantitative investigative methods and data products.</p>
    <br>
    <p>
    My work in the past has primarily focused in data-related applications, including data science work, ETL pipelines, end-to-end ETL applications, dashboard creation, custom interactive visualizations, predictive modeling, and full stack Python web dev work with Django and Flask. I'm also proficient with big data tools (Pig, Scalding, etc.) used within the Hadoop ecosystem to obtain valuable, revenue-related insights.</p>

</div>
{% endblock %}