{% extends 'base_portfolio.html' %}

{% block content %}

I am passionate about quantitative investigative methods and data analysis. I have experience utilizing a variety of methodologies and tools, including R, Python, and Tableau in order to answer data-related questions. I am currently a Research Analyst at Twitter, where I utilize big data tools (Pig, Scalding, etc.) to extract data from the Hadoop ecosystem and obtain valuable, revenue-related insights. 

I have a B.S. from MIT, and am interested in making connections with other individuals who are catalyzing change through innovative theories, analysis, and actions.

{% endblock %}