{% extends 'base_portfolio.html' %}

{% block content %}
<br>
<br>
<br>
<div class='col-md-2'>
</div>
<div class='col-md-6 text-justify'>
    Interested in leveraging the value in your data? Contact me at rowan [at] rowanv [dot] com. Contact me to find out more about my current availability for Big Data and AWS Solutions Architect consulting. 
    <br>
    <br>
    LinkedIn:
    <a href='https://www.linkedin.com/in/rowanv'>
    	<img src='/static/images/linkedin_logo.png' alt='LinkedIn logo'>
    </a>
</div>
{% endblock %}