{% extends 'base_portfolio.html' %}

{% block content %}






        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Past Projects
                    <!--small>Secondary Text</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% if projects_list %}
            {% for proj in projects_list %}

         <div class="row">
            <div class="col-md-7">
                <a href="{{ proj.link }}">
                    <img class="img-responsive" src="{{ proj.thumbnail }}" alt="oecd unemployment pic">
                    <!--img class="img-responsive" src="" alt="oecd unemployment pic"-->
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ proj.title }}</h3>
                <br>
                <h4></h4>
                <p>{{ proj.description }}</p>
                <div id="{{ proj.tag_name }}_tag" class="tag-list">

                    Skills:
                    {% for skill in proj.skills_list.all %}
                    {{ skill.name }} |
                    {% endfor %}
                </div>


                <br>

                <div>
                    <div style='float:right;padding-right:35px'>
                    <a class="btn btn-primary" href="{{ proj.link }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </div>

                    {% if proj.code_link %}
                    <div id='{{ proj.tag_name }}_code' style='float:left;padding-left:25px;' >
                    Code :
                    <a href='{{ proj.code_link }}'>
                        <img src='/static/images/github_icon.ico'>
                    </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <hr>
        <br>
            {% endfor %}
        {% endif %}





        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <!--
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                -->
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Rowan V 2018</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        <!-- Tags -->


{% endblock %}