{% extends 'base_portfolio.html' %}

{% block content %}






        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Past Projects
                    <!--small>Secondary Text</small>-->
                </h1>
            </div>
        </div>
        <!-- /.row -->

        {% if projects_list %}
            {% for proj in projects_list %}

         <div class="row">
            <div class="col-md-7">
                <a href="{{ proj.link }}">
                    <img class="img-responsive" src="{{ proj.thumbnail }}" alt="oecd unemployment pic"> 
                    <!--img class="img-responsive" src="" alt="oecd unemployment pic"-->
                </a>
            </div>
            <div class="col-md-5">
                <h3>{{ proj.title }}</h3>
                <h4>Python, Pandas library, Bokeh library</h4>
                <p>{{ proj.description }}</p>
                <a class="btn btn-primary" href="{{ proj.link }}">View Project <span class="glyphicon glyphicon-chevron-right"></span></a>
                <br><br><br><br><br><br>
                <div id="{{ proj.tag_name }}_tag" class="tag-list"></div>
                

            


            </div>
        </div>



        <hr>
            {% endfor %}
        {% endif %}


        


        <!-- Pagination -->
        <div class="row text-center">
            <div class="col-lg-12">
                <ul class="pagination">
                    <li>
                        <a href="#">&laquo;</a>
                    </li>
                    <li class="active">
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">2</a>
                    </li>
                    <li>
                        <a href="#">3</a>
                    </li>
                    <li>
                        <a href="#">4</a>
                    </li>
                    <li>
                        <a href="#">5</a>
                    </li>
                    <li>
                        <a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

        <!-- Tags -->
        
        
{% endblock %}