{% extends 'base_portfolio.html' %}

{% block content %}
<p>
  A dynamic visualization of the medal count for the Olympic Games by gender over time.
</p>

<p>
Final d3 visualization.
<a href='/portfolio/gender_olympics_viz'>Link</a>
</p>

<p>
  iPython notebook with an overview of the data extraction, cleaning, transformation, and preliminary visualization process undertaken with Python's Pandas and matplotlib libraries.
<a href='/portfolio/gender_olympics_ipython'>Link</a>
</p>

<p>
Code for final d3 visualization
<a href='https://github.com/rowanv/giraffe_viz/blob/master/olympics/olympics_medal_line_graph_viz.html'>Link</a>
</p>

{% endblock %}