{% extends 'base_portfolio.html' %}

{% block content %}
Talk: Using Big Data Tools to Determine the Offline Sales Impact of Social Networking Platforms Using a Geo-Based Methodology

As social networking ad products have become prominent, the need to prove their efficacy has risen in importance. We utilize a data science methodology to determine the offline impact of an online sales travel campaign. We explain how to use Pig and R to process geo-location information in Hadoop and determine whether a user was motivated to pursue action offline after online campaign exposure, ultimately finding a statistically significant impact.

{% endblock %}